.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -1;
}

.description {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  margin: 0;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.digits {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}

.section-title {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
}

.table {
  width: 1100px;
  text-decoration: none;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
}

.table__cell {
  width: 250px;
  list-style-type: none;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.feynman {
  min-height: 790px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  align-items: center;
  padding-top: 100px;
}

.feynman__title {
  margin: 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  padding-bottom: 70px;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  color: #000000;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  z-index: 0;
}

.section-title_theme_dark {
  color: #f2f2f2;
}

.section-subtitle_theme_dark {
  color: #f2f2f2;
}

.table__heading_theme_dark {
  color: #f2f2f2;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  right: -210px;
  top: 0;
  z-index: -1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__text_theme_dark {
  color: #f2f2f2;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px 0;
  display: flex;
  justify-content: center;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  color: #f2f2f2;
  line-height: 25px;
  font-size: 18px;
  margin: 18px 0;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__column-heading {
  padding: 0;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__column-links {
  padding: 0;
  margin: 0 0 16px 0;
  list-style-type: none;
}

.footer__column-link {
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: #f2f2f2;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
